body {
  margin: 0;
  height: 100vh;

	background-image: url('wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: #C8A2C8;
  text-shadow: #8e72a5 0px 0px 2px;
}
