body {
  /* Zero margin to occupy the full screen */
  margin: 0;
  /* Background with 100vh to cover the full screen */
  height: 100vh;

  /* Cover the full screen without stretching */
  background-size: cover;
  /* Background position on center */
  background-position: center;
  /* Background image must not repeat because will be proportional upscaled */
  background-repeat: no-repeat;
}

@media (orientation: landscape) {
  body {
    /* Background image for landscape orientation */
    background-image: url('../wallpaper_horizontal.png');
  }
}

@media (orientation: portrait) {
  body {
    /* Background image for portrait orientation */
    background-image: url('../wallpaper_vertical.png');
  }
}
